main, section, div{
    border: 1px solid black;

}
main {
    min-height: 100vh;  display:grid; 
    grid-template-rows:1fr 7fr 1fr
}
.middle{
    display:grid; 
    grid-template-columns:1fr 1fr 1fr
}

div {
    background-color: blue;
    margin: 2rem
}

